rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /usuarios/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /animais/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /posts/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /contribuidores/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /animais/{parent}/vacinas/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/vacinas/{document} {
      allow read: if true;
    }


    match /animais/{parent}/exames/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/exames/{document} {
      allow read: if true;
    }


    match /animais/{parent}/doencas/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/doencas/{document} {
      allow read: if true;
    }


    match /posts/{parent}/comentarios/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/comentarios/{document} {
      allow read: if true;
    }

  }
}
